.section1 {
	width: 100%;
	height: 600px;
	text-align: right;
	background: url(http://play.local/webcraftchallenge/images/header_bg.png) no-repeat center center;
	background-size: cover;
}
.textWapper {
	float: right;
	margin-right: 160px;
	margin-top:100px;
}
.section1 h1, p {
	text-align: right;
}
.logo {
	margin-right: 700px;
	margin-bottom: 100px;
}
