h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0em;
}


.second_panel {
  height:600px;
  width:100%;
  background: #f4f4f4;

}

.copy {
  width:50%;
  float:left;
  margin:60px;

}

.copy a {
  position:relative;
  top:110px;
  left:-147px;
}

.ipad {
  width:40%;
  float:left;
}

.ipad img {
  margin-left: 250px;
  margin-top: 102px;
}

.blockbar {
  width:20%;
  float:left;
  position:relative;
  left:-11px;
}

.blockquote {
  width:80%;
  float:left;
}

.blockquote p {
  position:relative;
  left:-79px;
  top:22px;
}






.thirdPanel {
  border: 1px solid black;
  width: 1260px;
  height: 640px;
  margin: auto;
}

.textWrapper {
  margin-left: 704px;
  margin-top: 100px;
}

.thirdPanelTitle {
  margin-bottom: 40px;
  color: rgb(66,66,66);
}

.explanation {
  color: rgb(55,61,75);
}
 #bottomHalf {
  color: rgb(107,107,107);
 }

.button {
  color: rgb(225,50,118);
  border: 2px solid rgb(225,50,118);
  width: 175px;
  height: 40px;
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}



