.thirdPanel {
  border: 1px solid black;
  width: 1260px;
  height: 640px;
  margin: auto;
}

.devices{
  position: absolute;
  display: inline-block;
  margin-top: 278px;
  background-image: url(images/devices.png);
  height:360px;
  width:758px;
}

.textWrapper {
  display:inline-block;
  margin-left: 704px;
  margin-top: 100px;
  background-color: rgb(255,255,255);
}

.thirdPanelTitle {
  margin-bottom: 40px;
  color: rgb(66,66,66);
}

.explanation {
  color: rgb(55,61,75);
}
 #bottomHalf {
  color: rgb(107,107,107);
 }

.button {
  margin-top: 50px;
  margin-left: -10px;
  width: 250px;
  height: 70px;
  background-image: url(images/dribble.png);
}