.header {
  background: url(fellowphoto.png) no-repeat;
  -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size : 100% 100%;
    -moz-background-size: 100% 100%;
    background-position: center;
    height: 1000px;
}

.nav {
  height: 120px;
  width: 100%;
  background: #eb346c;
  opacity: 0.90;
  z-index: 0;
}

.circle {
  border: 2px solid white;
  height: 75px;
  width: 75px;
  margin-top: 15px;
  border-radius: 75px;
  z-index: 1;
  position: absolute;
}

.wrapper {
  padding-left: 55px;
  display: inline-block;
  z-index: 2;
}

.fellowship, .myplanet{
  color: white;
  display: inline-block;
  padding-left: 5px;
  z-index: 2;
  margin-top: 10px;
}

.myplanet {
  margin: 10px 0px 0px 10px;
}

.fellowship {
  font-size: 25px;
}

.links {
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}

.about {
  margin-left: 700px;
  text-decoration: underline;
}

.phototext {
  color: white;
  display: inline-block;
  padding-left: 300px;
  z-index: 2;
  margin-top: 10px;
}

.learning {
  padding-top: 100px;
  width: 600px;
  font-size: 80px;
  text-align: center;
}
