#mainwrapper {
  width: auto;
  border: 1px solid black;
  height: 900px;
  background-image: url(images/cuban-flag.jpg);
  background-size: 1500px;
  background-repeat: no-repeat;
  font-family: Open Sans;
  color: rgb(251, 248, 226);
}

#wrapper1 {
  width: 30%;
  display: inline-block;
  margin: none;
  float: left;
}

#tiger {
  max-width: 300px;
  height: 250px;
  border-radius: 150px;
  background-image: url(images/angry_tiger.jpg);
  margin-top: 290px;
  margin-left: 125px;
}

#title {
  font-size: 3em;
  font-variant: small-caps;
  margin-left: 125px;
  text-align: center;
}

#wrapper2 {
  width: 70%;
  display: inline-block;
  float: right;
  margin: none;
}

#top-half {
  height: 400px;
  border: 1px solid white;
  padding: 25px;
}

#php, #javascript, #css {
  margin: 25px;
  border: 1px solid white;
  height: 75px;
  background-color: rgb(129, 29, 25);
  text-align: center;
  padding: 10px;
}

#php {
  width: 19%;
}

#javascript {
  width: 51%;
}

#css {
  width: 30%;
}

#bottom_half {
  height: 400px;
  border: 1px solid white;
  padding: 25px;
}
