h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0em;
}

p {
  font-family: 'Open Sans', sans-serif;
}


.second_panel {
  height:600px;
  width:100%;
  background: #f4f4f4;

}

.copy {
  width:50%;
  float:left;
  margin:60px;

}

.copy a {
  position:relative;
  top:110px;
  left:-147px;
}

.ipad {
  width:40%;
  float:left;
}

.ipad img {
  margin-left: 250px;
  margin-top: 102px;
}

.blockbar {
  width:20%;
  float:left;
  position:relative;
  left:-11px;
}

.blockquote {
  width:80%;
  float:left;
}

.blockquote p {
  position:relative;
  left:-79px;
  top:22px;
}






.thirdPanel {
  width: 100%;
  height: 640px;
  margin: auto;
}

.devices{
  position: absolute;
  display: inline-block;
  margin-top: 280px;
  background-image: url(images/devices.png);
  height:360px;
  width:758px;
  border-top-right-radius: 90px;
}

.textWrapper {
  display:inline-block;
  margin-left: 740px;
  margin-top: 100px;
  background-color: rgb(255,255,255);
}

.thirdPanelTitle {
  margin-bottom: 40px;
  color: rgb(66,66,66);
}

.explanation {
  color: rgb(55,61,75);
}
 #bottomHalf {
  color: rgb(107,107,107);
 }

#thirdButton {
  margin-top: 50px;
  margin-left: -10px;
  width: 250px;
  height: 70px;
  background-image: url(images/dribble.png);
}


.fourthPanel {
  background-image: url(images/header_bg.png);
  border: 1px solid white;
  width: 100%;
  height: 326px;
  margin: auto;
}

#fourthTitle {
  color: white;
  margin-left: 515px;
  margin-top: 100px;
}

#fourthButton {
  background-image: url(images/beer.png);
  height:70px;
  width: 245px;
  margin-left: 550px;
}

.button {
  color: rgb(225,50,118);
  border: 2px solid rgb(225,50,118);
  width: 175px;
  height: 40px;
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}


